.greyBG {background-color: #d2d2d2;}
@media screen and (min-width: 1084px) {
.narrow.m-banner {max-width: 700px !important;}
}
@media screen and (max-width: 1083px) {
.narrow.m-banner {padding-left: 20px; padding-right: 20px;}
}

.biggerLine.c-paragraph-1 {line-height: 36px;}

/* VFI */
.OttoGallery:focus {
  border: 2px dotted #FFF;
  outline: 2px dotted #000;
}